
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
<app-header-nav></app-header-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
 <app-navbar></app-navbar>
      <!-- partial -->
      <div class="container">
        <h2>Liste des Thémes <small> </small></h2>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Titre</div>
            <div class="col col-2">Description</div>
            <div class="col col-3">Nombre de cataloge</div> 
            <div  *ngIf="role!=='Particpant'" class="col col-3">Action</div> 
         
          </li> 
           
     <ng-container *ngFor="let item of theme">
     
        
          <li class="table-row">
            <div class="col col-1" data-label="Job Id">{{item.titre}}</div>
            <div class="col col-2" data-label="Customer Name">{{item.description}}</div>
            <div class="col col-4" data-label="Payment Status">{{item.cataloge.length}}   </div>
  
            <div  *ngIf="role!=='Particpant'" class="col col-4" data-label="Payment Status">      <i (click)="delete(item._id)"class="uil uil-trash icon"></i></div>
          </li>
        </ng-container>
        </ul>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  