 

  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
<app-header-nav></app-header-nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
 <app-navbar></app-navbar>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="main-panel">        
              <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="wrapper">
                            <h2>Nouveau Société</h2>
                            <form [formGroup]="socitieForm" (ngSubmit)="onSubmit()">
                              <div class="input-box">
                                <input type="text" placeholder="Entrer Nom" formControlName="nom" required>
                              </div>
                              <div class="input-box">
                                <input type="text" placeholder="Entrer Télephone" formControlName="tel" required>
                              </div>
                              <div class="input-box">
                                <input type="text" placeholder="Entrer Raison Social" formControlName="raison_socail" required>
                              </div>
                            
                               
                              <div class="input-box button">
                                <button type="Submit"  >Ajouter Société</button>
                              </div>
                             
                            </form>
                          </div>
                    </div>
                </div>
              </div>
            </div>
            
           
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
 
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  